.row.force-height>div {
    height: 500px;
}

.row.make-columns {
    -moz-column-width: 19em;
    -webkit-column-width: 19em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em; 
}
.row.make-columns > div {
    display: inline-block;
    padding:  .5rem;
    width:  100%; 
}
